* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --h1-320: 2.5rem;
    --h1-411: 3rem;
    --h1-768: 4rem;
    --h1-1600: 5rem;

    --h2-320: 2rem;
    --h2-768: 2.5rem;
    --h2-1024: 2.7rem;
    --h2-1600: 3.5rem;

    --h3-411: 1.5rem;
    --h3-768: 1.4rem;
    --h3-1024: 1.2rem;
    --h3-1280: 1.3rem;
    --h3-1600: 1.7rem;

    --p-411: 1.2rem;
    --p-768: 1.1rem;
    --p-1280: 1rem;
    --p-1600: 1.4rem;
}

p {
    font-family: 'Roboto Slab', serif;
    color: #646464;
    line-height: 1.5rem;
}

h1 {
    font-size: var(--h1-320);
    color: #fff;
    text-transform: uppercase;
    padding: 0 8vw 20px;
}

h2 {
    font-size: var(--h2-320);
    margin-top: 30px;
}

h2,
h3 {
    color: #222;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

@media (min-width: 411px) {
    h1 {
        font-size: var(--h1-411);
    }

    h3 {
        font-size: var(--h3-411);
    }

    p {
        font-size: var(--p-411);
        line-height: 2rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: var(--h1-768);
    }

    h2 {
        font-size: var(--h2-768);
    }

    h3 {
        font-size: var(--h3-768);
    }

    p {
        font-size: var(--p-768);
        line-height: 2rem;
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: var(--h2-1024);
    }

    h3 {
        font-size: var(--h3-1024);
    }
}

@media (min-width: 1280px) {
    h3 {
        font-size: var(--h3-1280);
    }

    p {
        font-size: var(--p-1280);
    }
}

@media (min-width: 1600px) {
    h1 {
        font-size: var(--h1-1600);
    }

    h2 {
        font-size: var(--h2-1600);
    }

    h3 {
        font-size: var(--h3-1600);
    }

    p {
        font-size: var(--p-1600);
        line-height: 3rem;
    }
}

.btn {
    background-color: #7cc576;
    color: #fff;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-top: 40px;
    border-radius: 100px;
    transition: .3s;
}

@media(min-width: 1280px) {
    .btn:hover {
        cursor: pointer;
        color: #000;
        background-color: #fff;
    }
}

/* HEADER ---------------------------------------------*/

header {
    min-height: 100vh;
}

header nav {
    width: 80vw;
    height: 15vh;
    margin: 0 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d4b4b;
    display: flex;
    align-items: center;
}

header .logo img {
    padding: 5px;
}

header .bar-nav ul {
    display: none;
}

header .bar-hamburger {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
    color: #4d4b4b;
}

header .header-container {
    position: relative;
    height: 80vh;
    background-image: url('images/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header .header-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
}

header .header-wrap p {
    color: #ccc;
    padding: 0 10vw;
}

@media(min-width: 768px) {
    header .logo {
        font-size: 20px;
    }
}

@media(min-width: 1280px) {
    header .bar-nav ul {
        display: block;
    }

    header .bar-hamburger {
        display: none;
    }

    header .bar-nav ul li {
        list-style: none;
    }

    header .bar-nav ul li a {
        position: relative;
        color: #646464;
        font-size: 14px;
        font-weight: 700;
        padding: 20px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
    }

    header .bar-nav ul li a::before {
        content: "";
        position: absolute;
        height: 35%;
        width: 0;
        left: 0;
        background-color: #7cc576;
        transition: .5s;
        z-index: -1;
    }

    header .bar-nav ul li a:hover::before {
        width: 100%;
    }

    header .bar-nav ul li a:hover {
        color: #fff;
    }
}

@media(min-width: 1600px) {
    header .logo {
        font-size: 24px;
    }

    header .bar-nav ul li a {
        font-size: 16px;
    }

    .btn {
        font-size: 18px;
        padding: 20px 30px;
    }
}

/* SECTION SERVICES/CULTURE-VALUES ---------------------*/
.services,
.culture-values {
    padding: 0 8vw;
}

.services p,
.culture-values p {
    text-align: center;
    padding: 10px 0;
}

.services-container,
.culture-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-wrap,
.culture-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin-top: 40px;
}

@media(min-width: 768px) {

    .services-wrap,
    .culture-wrap {
        width: 250px;
        margin-top: 35px;
    }
}

@media(min-width: 1024px) {

    .services-container,
    .culture-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .services-wrap,
    .culture-wrap {
        width: 300px;
        margin: 10px;
    }
}

@media(min-width: 1280px) {

    .services-wrap,
    .culture-wrap {
        margin: 30px;
    }
}

@media(min-width: 1600px) {

    .services-wrap,
    .culture-wrap {
        width: 400px;
        margin: 40px;
    }
}

/* SECTION RELAX----------------------- */
.relax {
    margin-top: 50px;
}

.gear-img {
    display: none;
}

.relax-container {
    background-image: url('images/cos_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.relax-wrap {
    background-color: rgba(0, 0, 0, .7);
}

.relax-container h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 50px 8vw 3vh;
}

.relax-container span {
    color: #7cc576;
}

.relax-container p {
    color: #ccc;
    padding: 0 8vw;
}

.relax-container ul {
    margin-top: 20px;
}

.relax-container ul li {
    display: flex;
    color: #ccc;
    font-family: 'Roboto Slab', serif;
    padding: 10px 8vw 0;
}

.relax-container .fa-check-circle {
    font-size: 1.5rem;
    padding: 0 12px 0 0;
}

.relax-container .btn {
    margin: 3vh 8vw 10vh;
}

@media(min-width:411px) {
    .relax-container li {
        font-size: var(--p-411);
    }
}

@media(min-width:768px) {
    .relax-container li {
        font-size: var(--p-768);
    }
}

@media(min-width: 1024px) {
    .gear-img {
        display: block;
        background-color: #e9e9e9;
    }

    .relax-container {
        display: flex;
    }
}

@media(min-width: 1280px) {

    .relax-container p,
    .relax-container li {
        font-size: var(--p-1280);
        padding-right: 30vw;
    }
}

@media(min-width:1600px) {
    .relax-container li {
        font-size: var(--p-1600);
    }
}

/* SECTION PROJECTS --------------------------------*/

.projects {
    padding: 50px 8vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects p,
.projects img {
    padding: 10px;
}

.projects-container {
    width: 280px;
    margin-top: 50px
}

.projects .info h3 {
    text-transform: initial;
}

.projects-container button {
    color: #7cc576;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    margin-top: 30px;
}

@media(min-width: 1024px) {
    .projects {
        display: block;
        background-image: url('images/tablet_img.jpg');
        background-repeat: no-repeat;
        background-position: right 70%;
        background-size: 50%;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 45vw;
        margin-top: 90px;
    }

    .projects-container span:nth-child(1) {
        padding-bottom: 20px;
    }

    .projects .info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .projects .info span {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .projects h3 {
        text-align: left;
    }

    .projects h3,
    .projects p {
        padding: 0px;
    }
}

@media(min-width: 1280px) {
    .projects {
        background-position: right 100%;
        background-size: 45%;
    }

    .projects-container button {
        transition: .5s;
    }

    .projects-container button:hover {
        color: #000;
        cursor: pointer;
    }
}

/* SECTION CULTURE--------------------- */

.culture-values {
    margin-top: 50px;
    padding: 50px 8vw;
    background-color: #e9e9e9;
}

.culture-wrap img {
    border: 3px solid #777;
    border-radius: 25%;
    padding: 15px;
}

@media (min-width: 1024px) {}



/* SECTION CONTACT--------------------- */

.contact-title {
    background-color: #7cc576;
    padding: 0 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title h2,
.contact-title button {
    color: #fff;
}

.contact-title button {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 15px 25px;
    margin: 20px 0 70px;
    transition: .3s;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners img {
    padding: 20px;
}



@media(min-width: 1024px) {
    .contact-title button:hover {
        cursor: pointer;
        background-color: #fff;
        color: #7cc576;
    }

    .partners {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .partners img {
        padding: 50px 20px;
    }
}